

target/
*.class
.idea/compiler.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_2.xml
.idea/libraries/Maven__org_kordamp_bootstrapfx_bootstrapfx_core_0_4_0.xml
.idea/libraries/Maven__org_openjfx_javafx_base_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_20_0_1.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_20_0_1.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/modules.xml
.idea/compiler.xml
.idea/compiler.xml
OVapp.iml
.idea/compiler.xml
.idea/compiler.xml
